<mat-grid-list cols="3" rowHeight="fit" style="height: 100%">
  <mat-grid-tile colspan="2">
    <app-banner> </app-banner>
  </mat-grid-tile>

  <mat-grid-tile colspan="1">
    <form
      [formGroup]="lostPasswordForm"
      class="content w-75"
      (ngSubmit)="lostPassword()"
    >
      <!-- <div class="content"> -->
      <mat-card-header class="heading w-100">Forgot Password</mat-card-header>
      <mat-card-content class="detail w-100">
        Enter your email address you've using for your account below and we will
        send you a password reset link
      </mat-card-content>
      <mat-label class="email_text">Email Address</mat-label>
      <input
        class="email_inp w-100"
        matInput
        type="email"
        placeholder="Enter your email address..."
        formControlName="email"
      />

      <mat-error>{{
        validationService.getError(
          lostPasswordForm,
          "email",
          ValidationMessages.LostPassword
        )
      }}</mat-error>

      <br /><br />
      <button class="reset_btn w-100" type="submit">Reset my Password</button>
      <br /><br />
      <mat-card-content class="login">
        <a routerLink="">Login</a>
      </mat-card-content>
      <mat-card-content class="privacy">Privacy Policy</mat-card-content>
      <!-- </div> -->
    </form>
  </mat-grid-tile>
</mat-grid-list>
