<mat-grid-list cols="3" rowHeight="fit" style="height: 100%">
  <mat-grid-tile colspan="2">
    <app-banner> </app-banner>
  </mat-grid-tile>

  <mat-grid-tile colspan="1">
    <form [formGroup]="resetPasswordForm" class="content w-75">
      <input type="hidden" formControlName="token" />
      <!-- <div class="content"> -->
      <mat-card-header class="heading">New Password</mat-card-header>
      <mat-card-content class="detail w-100">
        Please enter a new password in the fields below
      </mat-card-content>
      <mat-label class="newpass">New Password</mat-label>
      <input
        class="newpass_inp w-100"
        matInput
        type="password"
        placeholder="**********"
        formControlName="password"
      />

      <mat-error>{{
        validationService.getError(
          resetPasswordForm,
          "password",
          ValidationMessages.Registration
        )
      }}</mat-error>

      <br /><br />

      <mat-label class="confirm">Confirm Password</mat-label>
      <div class="password_container">
        <input
          class="confirm_inp w-100"
          matInput
          [type]="hidePassword ? 'password' : 'text'"
          placeholder="**********"
          formControlName="confirmPassword"
        />
        <button
          class="hideButton"
          mat-icon-button
          matSuffix
          (click)="togglePasswordVisibility()"
        >
          <mat-icon>{{
            hidePassword ? "visibility_off" : "visibility"
          }}</mat-icon>
        </button>
      </div>

      <mat-error
        *ngIf="resetPasswordForm.get('confirmPassword')?.errors?.['passwordMismatch'] && resetPasswordForm.get('confirmPassword')?.dirty"
      >
        Passwords do not match.
      </mat-error>

      <mat-error>{{
        validationService.getError(
          resetPasswordForm,
          "confirmPassword",
          ValidationMessages.Registration
        )
      }}</mat-error>

      <br /><br />

      <button
        type="submit"
        class="change_btn w-100"
        mat-raised-button
        (click)="resetPassword()"
      >
        Change Password
      </button>

      <br /><br />
      <mat-card-content class="login">
        <a routerLink="">Login</a>
      </mat-card-content>
      <mat-card-content class="privacy">Privacy Policy</mat-card-content>
      <!-- </div> -->
    </form>
  </mat-grid-tile>
</mat-grid-list>
