.image_text {
    position: relative;
    height: 100vh;
  }
  .image-1 {
    height: 100vh;
    width: auto;
  }
  .text {
    position: absolute;
    z-index: 0;
    top: 65%;
    color: white;
    right: 30%;
    left: 10%;
  }
  .text1 {
    font-size: 40px;
  }
  
  .content {
    /* width: 402px; */
    height: 400px;
  }
  .heading {
    margin-bottom: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* margin-top: 343px; */
    font-size: 20px;
  }
  .detail {
    margin-bottom: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -10px;
    font-size: 13px;
    text-align: center;
    color: #706c6c;
  }
  .newpass {
    font-size: 15px;
  }
  .newpass_inp {
    /* width: 401px; */
    margin-top: 1vh;
    height: 50px;
    border: 1px solid #d9d9d9;
    border-radius: 3px;
  }
  .confirm {
    font-size: 15px;
  }
  .confirm_inp {
    /* width: 401px; */
    margin-top: 1vh;
    height: 50px;
    border: 1px solid #d9d9d9;
    border-radius: 3px;
  }
  input:focus {
    border: 1px solid #2b64b1;
    outline: none;
  }
  input {
    padding-left: 10px;
  }
  .change_btn {
    /* width: 401px; */
    height: 48px;
    color: #f88634;
    border: 2px solid #f88634;
    border-radius: 24px;
    background-color: white;
  }
  .login {
    text-align: center;
    font-size: 14px;
  }
  .login a {
    color: #414141;
    text-decoration: none;
  }
  .privacy {
    margin-top: 160px;
    font-size: 13px;
    text-align: center;
    letter-spacing: 0px;
    color: #414141;
  }
  @media only screen and (max-width: 768px) {
    .privacy {
      margin-top: 0px;
    }
  }
  @media only screen and (max-width: 1230px) {
    .text1 {
      font-size: 30px;
      top: 55%;
    }
  }
  @media only screen and (max-width: 580px) {
    .text1 {
      font-size: 20px;
    }
    .text2 {
      font-size: 13px;
    }
    .text {
      top: 50%;
    }
  }
  .password_container {
    position: relative;
  }
  
  .hideButton {
    position: absolute;
    top: 63%;
    right: 10px;
    transform: translateY(-50%);
  }